
body{
    background-color: rgb(189, 188, 188);
    margin: 20px;
}

.counter{
    text-align: center;
    margin-top: 50px;
    background-color: black;

}
h1{
    color: black;
    text-align: center;
    font-size: 95px;
}

.counter div{
    
    display: inline-block;
    font-size: 150px;
    line-height: 140px;
    background-color: #101010;
    color: white;
    padding: 50px;
    margin: 7px;
    border-radius: 10%;
}



/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
